.section-main {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 58px;
}

.section-1 {
  display: flex;
  margin-bottom: 66px;
}

.section-1-text-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.7px;
  color: #4f5665;
}

.section-1-text-2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.7px;
  color: #6a4029;
}

.product {
  width: 523px;
  height: 790px;
}

.aside-left-text-1 {
  display: inline;
  font-weight: 400;
  font-size: 25px;
  line-height: 34.71px;
  letter-spacing: 2%;
}

.aside-left-text-2 {
  display: inline;
  font-weight: 700;
  font-size: 25px;
  line-height: 34.71px;
  letter-spacing: 2%;
}

.aside-left-text-3 {
  margin-top: 52px;
  display: flex;
  column-gap: 6px;
}

.section-2 {
  column-gap: 61px;
  display: flex;
  justify-content: space-between;
}

.aside-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside-right-header {
  font-weight: 900;
  font-size: 65px;
  line-height: 98px;
  color: black;
  margin-bottom: 8px;
}

.aside-right-text-1 {
  margin-top: 25px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: black;
}

.aside-right-text-2 {
  margin-top: 38px;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 25px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: black;
}

.line {
  border: 1px solid #9f9f9f;
}

.line-2 {
  border: 1px solid #9f9f9f;
  margin-bottom: 54px;
}

.dropbtn {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: #9f9f9f;
  padding-left: 31px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}

.chevron-left {
  width: auto;
  height: 19px;
}

.dropdown {
  width: 100%;
  margin-bottom: 33px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.aside-right-button-1 {
  width: 100%;
  padding-left: 77px;
  padding-right: 77px;
  padding-top: 25px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #6a4029;
  background: #ffba33;
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.29);
  border-radius: 10px;
}

.section-3 {
  width: 100%;
  display: flex;
  column-gap: 24px;
}

.counter-main {
  max-width: 167px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 28px;
  padding-right: 27px;
}

.counter-text-1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.55px;
  letter-spacing: 65%;
  color: #9f9f9f;
}

.counter-text-2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 33.55px;
  letter-spacing: 65%;
  color: #000000;
}

.aside-right-button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a4029;
  margin-top: 62px;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  font-weight: 700;
  font-size: 25px;
  line-height: 37.5px;
  color: #ffffff;
}
