.section-center {
  background-image: url("../assets/payment-background.png");
  background-repeat: round;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 146px;
}

.section-center-2 {
  margin-top: 41px;
  display: flex;
  column-gap: 182px;
  justify-content: space-between;
}

.body-1 {
  max-width: 1440px;
  margin: auto;
}

.body-2 {
  background-color: #bcbaba;
  height: 155vh;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.nav-line {
  position: relative;
  bottom: 20px;
  width: 118px;
  border-bottom: 2px solid #e0e0e2;
}

.nav-image {
  height: 20px;
  width: 20px;
}

.nav-image-div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-image-div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}

.nav-text {
  position: absolute;
  bottom: -30px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.center-header {
  width: 316px;
  margin-top: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.aside-right {
  width: 100%;
}

.aside-left {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
  padding-left: 44px;
  padding-top: 85px;
  padding-right: 43px;
  padding-bottom: 86px;
}

.aside-left-text-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.aside-left-text-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #362115;
}

.aside-left-text-3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #362115;
}

.aside-left-header {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #362115;
  margin-bottom: 80px;
}
.aside-left-image {
  width: 82px;
  height: 90px;
  border-radius: 20px;
  margin-right: 33px;
}

.aside-left-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.aside-left-div-div {
  display: flex;
}

.aside-left-header-div-div {
  margin-right: 19px;
}

.aside-left-div-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.aside-left-line {
  border-bottom: 0.5px solid;
  opacity: 0.3;
  margin-top: 26px;
  margin-bottom: 18px;
}

.aside-left-div-3 {
  display: flex;
  justify-content: space-between;
}

.aside-right-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  padding-right: 22px;
}

.aside-right-div-1-header {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.aside-right-div-1-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.aside-right-div-2 {
  padding-left: 42px;
  padding-right: 47px;
  padding-top: 31px;
  padding-bottom: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

.aside-right-div-2-line {
  opacity: 0.3;
  border: 0.5px solid #000000;
  margin-top: 1px;
  margin-bottom: 5px;
}

.aside-right-div-2-div {
  display: flex;
  column-gap: 2px;
}

.aside-right-text-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.aside-right-text-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.aside-right-div-3 {
  margin-top: 46px;
  margin-bottom: 13px;
}

.aside-right-div-4 {
  padding-left: 42px;
  padding-right: 47px;
  padding-top: 31px;
  padding-bottom: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

.aside-right-div-4-div {
  display: flex;
  column-gap: 2px;
  align-items: center;
  margin-bottom: 17px;
}

.aside-right-div-4-line {
  opacity: 0.3;
  border: 0.5px solid #000000;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 29px;
}

.aside-right-div-4-div-2 {
  display: flex;
  column-gap: 2px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 22px;
}

.aside-right-div-4-div-3 {
  display: flex;
  column-gap: 2px;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 34px;
}

.aside-right-div-button {
  width: 20px;
  height: 20px;
  border: 1px solid #9f9f9f;
  border-radius: 50%;
  margin-right: 10px;
}

.aside-right-div-button-2 {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #895537;
  border: 1px solid #6a4029;
  border-radius: 50%;
  margin-right: 10px;
  background-clip: content-box;
}

.icon-image {
  width: 16px;
  height: 12px;
}

.icon-image-2 {
  width: 14px;
  height: 16px;
}

.icon-image-3 {
  width: 24px;
  height: 21px;
}

.aside-right-div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #f47b0a;
  margin-right: 11px;
}

.aside-right-div-icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #895537;
  margin-right: 11px;
}

.aside-right-div-icon-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffba33;
  margin-right: 11px;
}

.aside-right-div-5 {
  cursor: pointer;
  width: 100%;
  margin-top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
  background-color: #6a4029;
  box-shadow: 0px 10px 20px rgba(137, 85, 55, 0.4);
  border-radius: 20px;
}

.aside-right-div-5-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .section-center {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
  }

  .aside-left {
    padding: 30px;
  }

  .aside-left-header {
    margin-bottom: 30px;
  }

  .section-center-2 {
    flex-direction: column;
    row-gap: 30px;
  }
}
